
*.cache
RussianCheckers/.vs/RussianCheckers/v16/.suo
RussianCheckers/RussianCheckers/obj/Debug/RussianCheckers.csproj.FileListAbsolute.txt
RussianCheckers/RussianCheckers/obj/Debug/RussianCheckers.csproj.GenerateResource.cache
RussianCheckers/RussianCheckers/obj/Debug/RussianCheckers.csprojAssemblyReference.cache
